<h1>Your question</h1>
<p><%= @query %></p>
<h1>Answer coach</h1>
<p>cimere ma gueule</p>

<!-- <a href="/coaching_controller/ask">REPOSE UNE QUESTION</a> -->


 <%= link_to "REPOSE UNE QUESTION", coaching_controller_ask_path%>